body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }
  
  header {
    background: #00467f; /* Dark Blue Header */
  }
  
  .navbar {
    background-color: #4e94d4; /* Light Blue Navbar */
  }
  
  h3, h4 {
    color: #00467f; /* Primary Heading Color */
  }
  
  footer {
    background: #333; /* Dark Footer */
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
  